@media screen  and (max-width:576px) {
    .Nav-items{
        display: none;
    }
    .ham-burger{
        display: block;
    }
    .Banner-container{
        flex-direction: column;
    }
    
    .Banner-content{
        margin-left: 8px;
    }
    .Banner-content h1{
        line-height: 40px;
    }
}