@media screen  and (max-width:576px) {
    .Nav-items{
        display: none;
    }
    .ham-burger{
        display: block;
    }
    .Banner-container{
        flex-direction: column;
    }
    
    .Banner-content{
        margin-left: 8px;
    }
    .Banner-content h1{
        line-height: 40px;
    }
    .image-habit{
        grid-template-columns: repeat(1,1fr);
        
    }
    .movement{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .habit-move{
        margin: 0 auto;
        text-align: center;
    }
    .Extra-run{
        flex-direction: column;
        gap: 0px;
        margin: 0 auto;
        margin-top:20px;
    }
    .Extrarun-content{
        width:100%;
    }
    .Extrarun-content h2{
        font-size: 20px;
        margin-left: 30px;
    }
    .Extrarun-content p{
        /* width: 100px;
        height: 90px; */
        font-size:8px;
        margin-left:18px;
    }
    .Extrarun-content button{
        margin-left: 100px;
        padding: 16px 32px;
    }
    .Extrarun-image{
        width:100%;
    }
    .Extrarun-image img{
        margin-top: 10px;
        width: 60%;
    }
    
    
}